@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --color-background: #EFE9DD;
  --color-primary: #BE6E46;
  --color-secondary: #1B4079;
  --color-tertiary: #4D7C8A;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Roboto Flex', sans-serif;
}

/* Hide scrollbars for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#scroll-container {
  scroll-behavior: auto;
}